Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*

Nest keys resource under /lists
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Use list_email in uri instead of passing a query param
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove unneccessary if condition
  lib/schleuder-api-daemon/routes/subscription.rb
Due: none

Make SubscriptionsController.update return the updated subscription.
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

KeysController: Check that fingerprint is actually a fingerprint.
  lib/schleuder/controllers/keys_controller.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Re-define associations between Account, Subscription, and List.
  lib/schleuder/account.rb
  lib/schleuder/subscription.rb
Due: none

Fix API subscription-route patch and put to use SubscriptionsController#update correctly.
  lib/schleuder-api-daemon/routes/subscription.rb
Due: none

Make keyword-handlers use controllers (or authorizer).
  CHANGELOG.md
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/last_admin_not_deletable.rb
  lib/schleuder/keyword_handlers/account_management.rb
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/key_management.rb
  lib/schleuder/keyword_handlers/list_management.rb
  lib/schleuder/keyword_handlers/resend.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
  lib/schleuder/keyword_handlers_runner.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
  spec/schleuder/unit/keyword_handlers/account_management_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
Due: spec-filenames

Remove keywords_admin_only.
  CHANGELOG.md
  db/migrate/20190220111200_remove_keywords_admin_only.rb
  db/schema.rb
  etc/list-defaults.yml
  lib/schleuder/errors/keyword_admin_only.rb
  lib/schleuder/list.rb
  spec/factories/lists.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames, schema-up-to-date

Add subscription email to list keys and get key response
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Return key summary as part of get subscription response
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Rename oneline method of the key to summary
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/keyword_handlers/key_management.rb
Due: none

Add specs for the existing error handling behaviour
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

New: List#subscriber_permissions. To replace keywords_admin_only.
  CHANGELOG.md
  db/migrate/20190222014120_add_subscriber_permissions.rb
  db/schema.rb
  etc/list-defaults.yml
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/keyword_handlers/attach_list_key.rb
  lib/schleuder/keyword_handlers/resend.rb
  lib/schleuder/keyword_handlers_runner.rb
  lib/schleuder/list.rb
  spec/factories/lists.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/keys_policy_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/list_policy_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/schleuder/unit/subscription_policy_spec.rb
Due: spec-filenames, schema-up-to-date

Migrate data of list.keywords_admin_only to list.subscriber_permissions
  db/migrate/20190220111200_remove_keywords_admin_only.rb
  db/migrate/20190222014121_remove_keywords_admin_only.rb
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: schema-up-to-date

Only show email addresses of lists when listing them to not reveal config details.
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Re-add variable assignment
  lib/schleuder-api-daemon/routes/list.rb
Due: none

Scope subscriptions by the list that is requested.
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/controllers/subscriptions_controller.rb
Due: none

Return all errors as json
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add spec for attempt to subscribe an already subscribed user
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Remove unnecessary error case
  lib/schleuder-api-daemon/routes/list.rb
Due: none

Use error in singular as json error root node
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Return 422 and speaking error message when list update fails
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder/controllers/lists_controller.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

API: Handle last admin not deletable error through exepction
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add example for /get and list not found
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add context blocks
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Wrap all specs related to get request in context block
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Make rubocop happy
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove old TODO
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Move error message sign off away from error classes
  lib/schleuder/cli/cli_helper.rb
  lib/schleuder/errors/base.rb
  lib/schleuder/filters/post_decryption/10_request.rb
  lib/schleuder/keyword_handlers_runner.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Return status code 200 after creating subscription
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Rename method
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/list.rb
Due: none

Set raise_errors to false in all environments
  lib/schleuder-api-daemon.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add test for failing parameter validation when creating a list
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Return error message and 422 when key import fails
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder/controllers/keys_controller.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Move interpret_key_import_result to api daemon helper
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Return 422 when put or patch are not successful
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Fix lists index response structure
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add example for create list with invalid email address
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add machine readable error codes to api respsonses
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames
