Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*

Fix sending list-key to subscriptions if deliver_selfsent is false
  CHANGELOG.md
  lib/schleuder/list.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Remove now-unused code.
  lib/schleuder/gpgme/ctx.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
  spec/sks-mock.rb
  spec/spec_helper.rb
Due: spec-filenames

Don't require unused library code
  lib/schleuder.rb
Due: none

Changelog and README update for KeyFetcher
  CHANGELOG.md
  README.md
Due: none

Clarify comment about the similar key-import methods
  lib/schleuder/gpgme/ctx.rb
Due: none

Rework Http class to make code and testing less awkward
  lib/schleuder/http.rb
  spec/schleuder/unit/http_spec.rb
Due: spec-filenames

Reduce one method to its actual usefulness and rename
  lib/schleuder/gpgme/ctx.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

Make a comment more precise
  lib/schleuder/list.rb
Due: none

Update schema with version 7 annotation
  db/schema.rb
Due: schema-up-to-date

Require base64 explicitly
  lib/schleuder.rb
Due: none

Upgrade activerecord, relax sqlite3 dependency
  schleuder.gemspec
Due: none

Add Active Record upgrade to changelog
  CHANGELOG.md
Due: none

WIP: unified key import
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/key_fetcher.rb
  lib/schleuder/list.rb
Due: none

Log gpg warnings instead of suppresing them.
  CHANGELOG.md
  lib/schleuder/gpgme/ctx.rb
Due: none

README: Drop obsolete pgrep, the former relevant code is gone finally
  README.md
Due: none

Check email address for receive_from_subscribed_emailaddresses_only downcased
  CHANGELOG.md
  lib/schleuder/filters/post_decryption/80_receive_from_subscribed_emailaddresses_only.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

Incorporate stripped down and lightly integrated code of Mail::Gpg
  CHANGELOG.md
  lib/schleuder.rb
  lib/schleuder/mail/gpg.rb
  lib/schleuder/mail/gpg/decrypted_part.rb
  lib/schleuder/mail/gpg/delivery_handler.rb
  lib/schleuder/mail/gpg/encrypted_part.rb
  lib/schleuder/mail/gpg/gpgme_ext.rb
  lib/schleuder/mail/gpg/gpgme_helper.rb
  lib/schleuder/mail/gpg/inline_decrypted_message.rb
  lib/schleuder/mail/gpg/inline_signed_message.rb
  lib/schleuder/mail/gpg/mime_signed_message.rb
  lib/schleuder/mail/gpg/missing_keys_error.rb
  lib/schleuder/mail/gpg/sign_part.rb
  lib/schleuder/mail/gpg/signed_part.rb
  lib/schleuder/mail/gpg/verified_part.rb
  lib/schleuder/mail/gpg/verify_result_attribute.rb
  lib/schleuder/mail/gpg/version_part.rb
  lib/schleuder/mail/message.rb
  schleuder.gemspec
Due: none

Make code from Mail::Gpg conform with our Rubocop rules
  lib/schleuder/mail/gpg.rb
  lib/schleuder/mail/gpg/decrypted_part.rb
  lib/schleuder/mail/gpg/delivery_handler.rb
  lib/schleuder/mail/gpg/gpgme_helper.rb
  lib/schleuder/mail/gpg/inline_decrypted_message.rb
  lib/schleuder/mail/gpg/inline_signed_message.rb
  lib/schleuder/mail/gpg/verify_result_attribute.rb
  lib/schleuder/mail/gpg/version_part.rb
Due: none

A WKD-client to lookup keys with
  lib/schleuder.rb
  lib/schleuder/wkd_client.rb
  schleuder.gemspec
Due: none

Return errors in case of errors
  lib/schleuder/key_fetcher.rb
  lib/schleuder/wkd_client.rb
Due: none

KeyFetcher: Use WKD primarily for queries by email
  lib/schleuder/key_fetcher.rb
Due: none

WIP: New filter to automatically fetch signing keys and re-verify signature
  lib/schleuder/filters/post_decryption/60_auto_import_key_from_servers.rb
  locales/de.yml
Due: none

WIP KeyFetcher: By email only WKD and VKS
  lib/schleuder/key_fetcher.rb
Due: none

gemspec: strip futile check for ruby-version, add rdoc
  schleuder.gemspec
Due: none

spec: enable full backtrace of rspec to ease debugging if needed
  spec/spec_helper.rb
Due: none

specs: use UTC as the timezone
  spec/spec_helper.rb
Due: none

spec: drop pkill, which is obsolete, as we don't rely on dirmngr anymore
  spec/spec_helper.rb
Due: none

Update sinatra and -contrib to 3.0.2
  schleuder.gemspec
Due: none

WIP
  lib/schleuder/filters/post_decryption/60_auto_import_key_from_servers.rb
  lib/schleuder/key_fetcher.rb
  lib/schleuder/keyword_handlers/key_management.rb
  lib/schleuder/list.rb
Due: none

Strip all non text/plain parts in multipart/alternative if keywords are present to stop leaking them, even when it is encapsulated in multipart/mixed
  lib/schleuder/filters/post_decryption/90_strip_html_from_alternative_if_keywords_present.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

improve style
  lib/schleuder/filters/post_decryption/90_strip_html_from_alternative_if_keywords_present.rb
Due: none

WIP
  lib/schleuder.rb
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
  schleuder.gemspec
Due: none

Replace removed method
  lib/schleuder/list_builder.rb
Due: none

Run tests with Ruby 3.2
  .gitlab-ci.yml
Due: none

Fix problematic CLI-Test to run without side effects
  spec/schleuder/integration/cli_spec.rb
Due: spec-filenames

Update ActiveRecord to v7.1
  CHANGELOG.md
  db/migrate/20180110203100_add_sig_enc_to_headers_to_meta_defaults.rb
  db/schema.rb
  lib/schleuder/cli.rb
  lib/schleuder/list.rb
  schleuder.gemspec
Due: schema-up-to-date

Update sinatra and -contrib to v3.1.0
  schleuder.gemspec
Due: none

Update byebug to v11
  schleuder.gemspec
Due: none

Update sqlite3 to v1.6
  schleuder.gemspec
Due: none
