Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static

schema-up-to-date:
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static

Fix a spec
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

New formatting for schema.rb.
  db/schema.rb
Due: schema-up-to-date

Provide signing key to unit tests so they can find an account
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

git-ignore tags file
  .gitignore
Due: none

Rescue from error when parsing POST request body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Use constant to specify which routes should be public
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/status.rb
Due: none

Auth Tokens to create and reset Account passwords
  db/migrate/20231108193000_create_tokens.rb
  db/schema.rb
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/auth_token.rb
  lib/schleuder.rb
  lib/schleuder/auth_token.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/auth_token_spec.rb
Due: spec-filenames, schema-up-to-date

Show only ActiveRecord errors to clients
  lib/schleuder-api-daemon.rb
Due: none

Add Timecop gem
  schleuder.gemspec
  spec/spec_helper.rb
Due: none

Strip all non text/plain parts in multipart/alternative if keywords are present to stop leaking them, even when it is encapsulated in multipart/mixed
  lib/schleuder/filters/post_decryption/90_strip_html_from_alternative_if_keywords_present.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

improve style
  lib/schleuder/filters/post_decryption/90_strip_html_from_alternative_if_keywords_present.rb
Due: none

Change wording to be more exact.
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

paz/sssggr | Introduce account and authorization.
  db/migrate/20180202183800_create_accounts.rb
  db/schema.rb
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/cli.rb
  lib/schleuder/cli/api_superadmins.rb
  lib/schleuder/gpgme/key.rb
  lib/schleuder/subscription.rb
  spec/factories/accounts.rb
  spec/helpers/api_daemon_spec_helper.rb
  spec/schleuder-api-daemon/requests/authorization_spec.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/account_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames, schema-up-to-date

API: Fix spec for /status and /version
  spec/schleuder-api-daemon/requests/version_spec.rb
Due: spec-filenames

rubocop: Auto-correct a few warnings and add more TODOs.
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/cli/cli_helper.rb
  lib/schleuder/subscription.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/unit/account_spec.rb
Due: spec-filenames

Add a few more examples to the account spec.
  spec/schleuder/unit/account_spec.rb
Due: spec-filenames

Rename authorize to authorized?
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames

Fix passing parameters in some specs with ruby 2.3.
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Refactor spec to not use instance variables
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Fix associating subscription with account.
  lib/schleuder/subscription.rb
Due: none

Fix method list policy method name
  lib/schleuder/authorizer_policies/subscription_policy.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Introduce controller layer
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/unauthorized.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Keywords for account management (x-get-new-password).
  CHANGELOG.md
  lib/schleuder/keyword_handlers/account_management.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/keyword_handlers/account_management_spec.rb
Due: spec-filenames

Refactor spec to not reuse objects between examples
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Rename authorizing method in controllers.
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
Due: none

Reference subscriptions by email only in subscription controller & API
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Use subscription controller in put action
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

All Colors Are Beautiful (silence the cops).
  lib/schleuder/authorizer.rb
Due: none

Fix message for Errors::Unauthorized.
  lib/schleuder/authorizer.rb
  lib/schleuder/errors/unauthorized.rb
  locales/de.yml
  locales/en.yml
Due: none

Return nil, not Errors::Unauthorized if authorized but not found.
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Let Authorizer raise the error, name the method appropriately.
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/controllers/base_controller.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames

Respond with 404 if authorized but subscription not found
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Use email as only list identifier in the API and controllers
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Return created subscription if post request was successful
  lib/schleuder-api-daemon/routes/subscription.rb
  schleuder.gemspec
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/support/api/schemas/subscription.json
  spec/support/matchers/match_json_schema.rb
Due: spec-filenames

Raise exception if list or resource is not present.
  lib/schleuder-api-daemon.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/key_not_found.rb
  lib/schleuder/errors/resource_not_found.rb
  lib/schleuder/errors/subscription_not_found.rb
  lib/schleuder/keyword_handlers_runner.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Fix name of variable, we do use email addresses as identifier there.
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/errors/key_not_found.rb
  lib/schleuder/errors/resource_not_found.rb
  lib/schleuder/errors/subscription_not_found.rb
Due: none

Remove unused methods from base controller
  lib/schleuder/controllers/base_controller.rb
Due: none

Nest subscriptions resource under /lists & pass list context to controller
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Remove unused methods from api daemon helper
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*
