Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*

Add context blocks
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add example for /get and list not found
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Re-add variable assignment
  lib/schleuder-api-daemon/routes/list.rb
Due: none

Add specs for the existing error handling behaviour
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Return all errors as json
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Only show email addresses of lists when listing them to not reveal config details.
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Make rubocop happy
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Return error message and 422 when key import fails
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/list.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Remove unnecessary error case
  lib/schleuder-api-daemon/routes/list.rb
Due: none

Return 422 and speaking error message when list update fails
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder/controllers/lists_controller.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

API: Handle last admin not deletable error through exepction
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add spec for attempt to subscribe an already subscribed user
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Return 422 when put or patch are not successful
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Remove old TODO
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Rename method
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/list.rb
Due: none

Return status code 200 after creating subscription
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Move interpret_key_import_result to api daemon helper
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder/list.rb
Due: none

Replace set_x_messages with message in response body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add list json schema and validating spec
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Add key json schema and validating spec
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/support/api/schemas/key.json
Due: spec-filenames

Add example for create list with invalid email address
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Move error message sign off away from error classes
  lib/schleuder/cli/cli_helper.rb
  lib/schleuder/errors/base.rb
  lib/schleuder/filters/post_decryption/10_request.rb
  lib/schleuder/keyword_handlers_runner.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Set raise_errors to false in all environments
  lib/schleuder-api-daemon.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Always return data and messages object in responses
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add test for failing parameter validation when creating a list
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Stub the right method in order to raise an exception
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Fix lists index response structure
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove configurable attributes node
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Re-add missing attributes and fields.
  lib/schleuder/list.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Fix JSON-encoding issues with activesupport-6.0/ruby3.0
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Expect configurable_attributes as strings.
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Add open api spec
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Fix syntax for ruby 3.0.
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
Due: none

Add AR version to migration.
  db/migrate/20180202183800_create_accounts.rb
Due: schema-up-to-date

Add machine readable error codes to api respsonses
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Don't rely on implicit ordering.
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Fix spec by injecting signing_key
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Fix spec for migrating keywords_admin_only to subscriber_permissions
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: none

Remove left-over X-STOP in specs.
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Adapt spec to changed format of resent-to
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames
