Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static

schema-up-to-date:
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static

Replace set_x_messages with message in response body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Stub the right method in order to raise an exception
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add key json schema and validating spec
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/support/api/schemas/key.json
Due: spec-filenames

Always return data and messages object in responses
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add list json schema and validating spec
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Set raise_errors to false in all environments
  lib/schleuder-api-daemon.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove configurable attributes node
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add example for create list with invalid email address
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Fix lists index response structure
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add open api spec
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add machine readable error codes to api respsonses
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Fix JSON-encoding issues with activesupport-6.0/ruby3.0
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Re-add missing attributes and fields.
  lib/schleuder/list.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Fix syntax for ruby 3.0.
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
Due: none

Add AR version to migration.
  db/migrate/20180202183800_create_accounts.rb
Due: schema-up-to-date

Expect configurable_attributes as strings.
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

New formatting for schema.rb.
  db/schema.rb
Due: schema-up-to-date

Don't rely on implicit ordering.
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove left-over X-STOP in specs.
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Adapt spec to changed format of resent-to
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Fix spec for migrating keywords_admin_only to subscriber_permissions
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: none

Fix spec by injecting signing_key
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Fix a spec
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

git-ignore tags file
  .gitignore
Due: none

Rescue from error when parsing POST request body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Show only ActiveRecord errors to clients
  lib/schleuder-api-daemon.rb
Due: none

Use constant to specify which routes should be public
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/status.rb
Due: none

WIP
  public/web/base-controller.js
  public/web/images/delivery-disabled.svg
  public/web/images/delivery.svg
  public/web/images/double-arrow.svg
  public/web/images/favicon.ico
  public/web/images/heart.svg
  public/web/images/house.svg
  public/web/images/key-missing.svg
  public/web/images/key-outlined.svg
  public/web/images/key.svg
  public/web/images/keyring.svg
  public/web/images/log-out.svg
  public/web/images/people.svg
  public/web/images/person.svg
  public/web/images/robot.svg
  public/web/images/tools.svg
  public/web/images/wrench.svg
  public/web/index.css
  public/web/index.html
  public/web/keys-controller.js
  public/web/list-menu.js
  public/web/lists-controller.js
  public/web/login-controller.js
  public/web/router.js
  public/web/subscriptions-controller.js
  public/web/template.js
  public/web/user-menu.js
Due: none

WIP: A javascript API-client for the Browser.
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  public/web/backend.js
  public/web/base-controller.js
  public/web/favicon.ico
  public/web/html-element.js
  public/web/index.css
  public/web/index.html
  public/web/index.js
  public/web/keys-controller.js
  public/web/lists-controller.js
  public/web/login-controller.js
  public/web/notifier.js
  public/web/router.js
  public/web/state.js
  public/web/subscriptions-controller.js
  public/web/template.js
  public/web/user-menu.js
Due: none

A loading icon
  public/web/index.html
  public/web/router.js
Due: none

WIP: web components without templates
  public/web/components/base-component.js
  public/web/components/check-box.js
  public/web/components/email-input.js
  public/web/components/login-form.js
  public/web/components/password-input.js
  public/web/components/subscription-edit.js
  public/web/index.css
  public/web/index.html
  public/web/index.js
  public/web/router.js
  public/web/subscriptions-controller.js
  public/web/template.js
Due: none

Add Timecop gem
  schleuder.gemspec
  spec/spec_helper.rb
Due: none

Auth Tokens to create and reset Account passwords
  db/migrate/20231108193000_create_tokens.rb
  db/schema.rb
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/auth_token.rb
  lib/schleuder.rb
  lib/schleuder/auth_token.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/auth_token_spec.rb
Due: spec-filenames, schema-up-to-date

Pull text translation out of GPGME::Ctx
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/key_fetcher.rb
Due: none

Allow to import filtered binary key data
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/key_fetcher.rb
Due: none

Update rubocop todo-file
  .rubocop_todo.yml
Due: none

Auto-import keys from Autocrypt-header and attachments
  CHANGELOG.md
  db/migrate/20220910170110_add_key_auto_import_from_email.rb
  db/schema.rb
  etc/list-defaults.yml
  lib/schleuder.rb
  lib/schleuder/email_key_importer.rb
  lib/schleuder/filters/post_decryption/35_key_auto_import_from_attachments.rb
  lib/schleuder/filters/pre_decryption/60_key_auto_import_from_autocrypt_header.rb
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/gpgme/key_extractor.rb
  lib/schleuder/list.rb
  lib/schleuder/mail/message.rb
  locales/de.yml
  locales/en.yml
  schleuder_at_example_public_key_minimal_base64.txt
  spec/factories/lists.rb
  spec/fixtures/openpgp-keys/FB18AE292FCEEBCE3BB3FBA14286EE574B92FA0A-abcde_example_org.pub
  spec/fixtures/openpgp-keys/FB18AE292FCEEBCE3BB3FBA14286EE574B92FA0A-abcde_example_org.sec
  spec/schleuder/integration/filters_spec.rb
  spec/schleuder/unit/filters_runner_spec.rb
  spec/schleuder/unit/filters_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames, schema-up-to-date

WIP: Use HTTPX instead of Typhoeus
  lib/schleuder.rb
  lib/schleuder/http.rb
  schleuder.gemspec
Due: none

Remove useless variable assignment
  lib/schleuder/gpgme/ctx.rb
Due: none

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*
