Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static

schema-up-to-date:
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static

Changelog and README update for KeyFetcher
  CHANGELOG.md
  README.md
Due: none

Rework Http class to make code and testing less awkward
  lib/schleuder/http.rb
  spec/schleuder/unit/http_spec.rb
Due: spec-filenames

Reduce one method to its actual usefulness and rename
  lib/schleuder/gpgme/ctx.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

Clarify comment about the similar key-import methods
  lib/schleuder/gpgme/ctx.rb
Due: none

Require base64 explicitly
  lib/schleuder.rb
Due: none

Fix sending list-key to subscriptions if deliver_selfsent is false
  CHANGELOG.md
  lib/schleuder/list.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Incorporate stripped down and lightly integrated code of Mail::Gpg
  CHANGELOG.md
  lib/schleuder.rb
  lib/schleuder/mail/gpg.rb
  lib/schleuder/mail/gpg/decrypted_part.rb
  lib/schleuder/mail/gpg/delivery_handler.rb
  lib/schleuder/mail/gpg/encrypted_part.rb
  lib/schleuder/mail/gpg/gpgme_ext.rb
  lib/schleuder/mail/gpg/gpgme_helper.rb
  lib/schleuder/mail/gpg/inline_decrypted_message.rb
  lib/schleuder/mail/gpg/inline_signed_message.rb
  lib/schleuder/mail/gpg/mime_signed_message.rb
  lib/schleuder/mail/gpg/missing_keys_error.rb
  lib/schleuder/mail/gpg/sign_part.rb
  lib/schleuder/mail/gpg/signed_part.rb
  lib/schleuder/mail/gpg/verified_part.rb
  lib/schleuder/mail/gpg/verify_result_attribute.rb
  lib/schleuder/mail/gpg/version_part.rb
  lib/schleuder/mail/message.rb
  schleuder.gemspec
Due: none

Check email address for receive_from_subscribed_emailaddresses_only downcased
  CHANGELOG.md
  lib/schleuder/filters/post_decryption/80_receive_from_subscribed_emailaddresses_only.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

specs: use UTC as the timezone
  spec/spec_helper.rb
Due: none

README: Drop obsolete pgrep, the former relevant code is gone finally
  README.md
Due: none

spec: drop pkill, which is obsolete, as we don't rely on dirmngr anymore
  spec/spec_helper.rb
Due: none

Log gpg warnings instead of suppresing them.
  CHANGELOG.md
  lib/schleuder/gpgme/ctx.rb
Due: none

Update schema with version 7 annotation
  db/schema.rb
Due: schema-up-to-date

Make code from Mail::Gpg conform with our Rubocop rules
  lib/schleuder/mail/gpg.rb
  lib/schleuder/mail/gpg/decrypted_part.rb
  lib/schleuder/mail/gpg/delivery_handler.rb
  lib/schleuder/mail/gpg/gpgme_helper.rb
  lib/schleuder/mail/gpg/inline_decrypted_message.rb
  lib/schleuder/mail/gpg/inline_signed_message.rb
  lib/schleuder/mail/gpg/verify_result_attribute.rb
  lib/schleuder/mail/gpg/version_part.rb
Due: none

Update sinatra and -contrib to 3.0.2
  schleuder.gemspec
Due: none

Update sqlite3 to v1.6
  schleuder.gemspec
Due: none

Update Thor to v1.3
  schleuder.gemspec
Due: none

Update ActiveRecord to v7.1
  CHANGELOG.md
  db/migrate/20180110203100_add_sig_enc_to_headers_to_meta_defaults.rb
  db/schema.rb
  lib/schleuder/cli.rb
  lib/schleuder/list.rb
  schleuder.gemspec
Due: schema-up-to-date

Update byebug to v11
  schleuder.gemspec
Due: none

Replace removed method
  lib/schleuder/list_builder.rb
Due: none

Run tests with Ruby 3.2
  .gitlab-ci.yml
Due: none

Fix problematic CLI-Test to run without side effects
  spec/schleuder/integration/cli_spec.rb
Due: spec-filenames

Update sinatra and -contrib to v3.1.0
  schleuder.gemspec
Due: none

CI: codespell: ignore 'bu' and 'falsy'
  utils/ci/codespell/ignored_words.txt
Due: none

Minor fix to set the mime-type in test-cases
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Don't provide a SKS address by default
  CHANGELOG.md
  etc/schleuder.yml
Due: none

Update rubocop_todo list
  .rubocop_todo.yml
Due: none

Change spec name
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Add case to test importing keys from Thunderbird-attachments
  spec/fixtures/mails/thunderbird-115.2.3-macos-xaddkey-attachment.eml
  spec/fixtures/openpgpkey_421C19AF8B9C33B8B62D76EBDB2F7E271D773073.sec
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Rename binary key to have appropriate filename extension
  spec/fixtures/example_key_binary.pgp
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Fix importing keys from attachments like e.g. Thunderbird 115 sends them
  CHANGELOG.md
  lib/schleuder/keyword_handlers/key_management.rb
Due: none

CI: code-coverage: update expected SSH public host key to fix deploy
  .gitlab-ci.yml
Due: none

Extend test cases for importing binary keys from attachments
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Rename authorize to authorized?
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames

rubocop: Auto-correct a few warnings and add more TODOs.
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/cli/cli_helper.rb
  lib/schleuder/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/unit/account_spec.rb
Due: spec-filenames

Refactor spec to not use instance variables
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add case to test importing binary key attachment as sent via Mutt
  spec/fixtures/mails/mutt-2.0.5-linux-xaddkey-attachment-binary.eml
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

paz/sssggr | Introduce account and authorization.
  db/migrate/20180202183800_create_accounts.rb
  db/schema.rb
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/cli.rb
  lib/schleuder/cli/api_superadmins.rb
  lib/schleuder/gpgme/key.rb
  lib/schleuder/subscription.rb
  spec/factories/accounts.rb
  spec/helpers/api_daemon_spec_helper.rb
  spec/schleuder-api-daemon/requests/authorization_spec.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/account_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames, schema-up-to-date

API: Fix spec for /status and /version
  spec/schleuder-api-daemon/requests/version_spec.rb
Due: spec-filenames

Fix passing parameters in some specs with ruby 2.3.
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*
