Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  image: $IMAGE_REGISTRY:debian-generic
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static
  allow_failure: true

schema-up-to-date:
  image: $IMAGE_REGISTRY:debian-generic
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static
  allow_failure: true

remove duplicated information from README; mention archlinux
  README.md
Due: none

Version 4.0.2
  CHANGELOG.md
  README.md
  lib/schleuder/version.rb
Due: none

Rework German translation
  locales/de.yml
Due: none

db: add migration to specify string column limits explicitly
  CHANGELOG.md
  db/migrate/20211107151309_add_limits_to_string_columns.rb
  db/schema.rb
Due: schema-up-to-date

db: add migration to change boolean values to integers
  CHANGELOG.md
  db/migrate/20211106112020_change_boolean_values_to_integers.rb
  db/schema.rb
Due: schema-up-to-date

CHANGELOG: mention improvements of the German locales
  CHANGELOG.md
Due: none

Spec helper for exitcode and output checking
  spec/spec_helper.rb
Due: none

Check stderr and exitcode in CLI specs
  spec/schleuder/integration/cli_spec.rb
Due: spec-filenames

Cli: Report error message when exiting
  lib/schleuder/cli.rb
Due: none

Fix expected error message from dirmngr
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

Use local IP address for sks-mock, not localhost
  spec/schleuder.yml
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/sks-mock.rb
  spec/spec_helper.rb
Due: spec-filenames

CI: changelog: enforce latest state
  .gitlab-ci.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add tests for admin notification on bounce
  spec/schleuder/runner_spec.rb
Due: spec-filenames

Add fix for bounces_drop_all bug
  lib/schleuder/filters_runner.rb
  lib/schleuder/runner.rb
Due: none

Add test cases for bounces_drop_all bug
  spec/schleuder/runner_spec.rb
  spec/schleuder/unit/filters_runner_spec.rb
Due: spec-filenames

specs: make it possible to conditionally require 'byebug'
  spec/spec_helper.rb
Due: none

specs: key_management: relax expected key expiry dates
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

CI: Add job to check for expected, hardcoded key expiry dates in specs
  .gitlab-ci.yml
Due: none

Version 4.0.3
  CHANGELOG.md
  README.md
  lib/schleuder/version.rb
Due: none

Force a specific timezone and locale
  spec/spec_helper.rb
Due: none

CI: drop job to check for GPG key dates, again
  .gitlab-ci.yml
Due: none

CI: rspec: display doc strings of specs to ease insight
  .gitlab-ci.yml
Due: none

specs: make GPG key dates strict, again
  spec/schleuder/integration/cli_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
  spec/schleuder/unit/gpgme_key_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Run test suite with Ruby 3.1
  .gitlab-ci.yml
Due: none

Add dependency on net-smtp for ruby3.1
  schleuder.gemspec
Due: none

specs: relax expected error message if refreshing keys fails
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

spec_helper: respect existing 'LOCAL_IP_ADDR' env var
  spec/spec_helper.rb
Due: none

Drop support for Ruby 2.5+2.6
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  schleuder.gemspec
Due: none

Fix changelog-entry for unreleased dropped ruby-versions
  CHANGELOG.md
Due: none

Make umask configurable, change default to 0077.
  CHANGELOG.md
  etc/schleuder.yml
  lib/schleuder.rb
  lib/schleuder/conf.rb
Due: none

Warn about list-dirs that don't match the umask in `schleuder install`.
  lib/schleuder/cli.rb
Due: none

Provide generalized method to import keys through gpg's CLI
  lib/schleuder/gpgme/ctx.rb
Due: none

Allow to force-reload the config
  lib/schleuder/conf.rb
Due: none

Rename keyserver option to sks_keyserver
  etc/schleuder.yml
  lib/schleuder/conf.rb
  spec/schleuder.yml
Due: none

New: KeyFetcher and underpinnings
  lib/schleuder.rb
  lib/schleuder/http.rb
  lib/schleuder/key_fetcher.rb
  lib/schleuder/sks_client.rb
  lib/schleuder/vks_client.rb
  locales/de.yml
  locales/en.yml
  schleuder.gemspec
  spec/schleuder/unit/http_spec.rb
  spec/schleuder/unit/key_fetcher_spec.rb
  spec/spec_helper.rb
Due: spec-filenames

Use KeyFetcher to fetch keys directly via HTTP
  lib/schleuder/list.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Add vks_keyserver config option
  etc/schleuder.yml
  lib/schleuder/conf.rb
  spec/schleuder.yml
Due: none

Add proxy config option for new HTTP code
  etc/schleuder.yml
  lib/schleuder/conf.rb
Due: none

Pull refresh_keys out of GPGME::Ctx and use KeyFetcher
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/list.rb
  spec/schleuder/integration/cli_spec.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/*
