Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static

schema-up-to-date:
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static

Always return data and messages object in responses
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Replace set_x_messages with message in response body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Stub the right method in order to raise an exception
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Add key json schema and validating spec
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/support/api/schemas/key.json
Due: spec-filenames

Add open api spec
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Add list json schema and validating spec
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

New formatting for schema.rb.
  db/schema.rb
Due: schema-up-to-date

Fix JSON-encoding issues with activesupport-6.0/ruby3.0
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Add AR version to migration.
  db/migrate/20180202183800_create_accounts.rb
Due: schema-up-to-date

Fix spec by injecting signing_key
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Fix syntax for ruby 3.0.
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
Due: none

Remove configurable attributes node
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Expect configurable_attributes as strings.
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Adapt spec to changed format of resent-to
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Remove left-over X-STOP in specs.
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Re-add missing attributes and fields.
  lib/schleuder/list.rb
  open-api-spec.yml
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Provide signing key to unit tests so they can find an account
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Don't rely on implicit ordering.
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Fix API to import keys (artifact from rebase)
  lib/schleuder-api-daemon/routes/key.rb
Due: none

Fix api daemon key specs to authorize with account
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Fix a spec
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Fix api-daemon specs to expect key_auto_import_from_email
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/support/api/schemas/list.json
Due: spec-filenames

Fix spec for migrating keywords_admin_only to subscriber_permissions
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: none

Unify i18n key import messaging, API returns strings not keys
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/keyword_handlers/key_management.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
  spec/support/api/schemas/key.json
Due: spec-filenames

Cleanup + start of I18n
  public/web/backend.js
  public/web/base-model.js
  public/web/components/action-link.js
  public/web/components/base-comp.js
  public/web/components/card-icon.js
  public/web/components/card-popup.js
  public/web/components/index-card.js
  public/web/components/key-index.js
  public/web/components/list-index.js
  public/web/components/list-menu.js
  public/web/components/subscription-index.js
  public/web/components/subscription-show.js
  public/web/hyper.js
  public/web/router.js
  public/web/subscriptions-controller.js
  public/web/translations.js
Due: none

Rescue from error when parsing POST request body
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Use constant to specify which routes should be public
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/status.rb
Due: none

Show only ActiveRecord errors to clients
  lib/schleuder-api-daemon.rb
Due: none

git-ignore tags file
  .gitignore
Due: none

Add Timecop gem
  schleuder.gemspec
  spec/spec_helper.rb
Due: none

Auth Tokens to create and reset Account passwords
  db/migrate/20231108193000_create_tokens.rb
  db/schema.rb
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/auth_token.rb
  lib/schleuder.rb
  lib/schleuder/auth_token.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/auth_token_spec.rb
Due: spec-filenames, schema-up-to-date

Version 5.0.0
  CHANGELOG.md
  README.md
  lib/schleuder/version.rb
Due: none

Fix typos
  lib/schleuder/filters/post_decryption/90_strip_html_from_alternative_if_keywords_present.rb
Due: none

specs: fix GnuPG homedir removal
  spec/schleuder/integration/filters_spec.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

Fix GnuPG homedir removal
  CHANGELOG.md
  lib/schleuder/gpgme/key_extractor.rb
  spec/schleuder/integration/filters_spec.rb
  spec/schleuder/unit/filters_spec.rb
Due: spec-filenames

gemspec: drop obsolete versioning conditionals
  schleuder.gemspec
Due: none

WIP: list_changes_notify_admins
  etc/list-defaults.yml
  lib/schleuder-api-daemon/routes/auth_token.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/list.rb
Due: none

Note that maintainers are wanted in README
  README.md
Due: none

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*
