Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/*

Add byebug as development dependency.
  schleuder.gemspec
  spec/spec_helper.rb
Due: none

Pin factory bot to v5.x
  schleuder.gemspec
Due: none

Remove unused helper code.
  lib/schleuder/cli.rb
Due: none

Allow only fingerprints as arguments to X-DELETE-KEY.
  CHANGELOG.md
  lib/schleuder/keyword_handlers/key_management.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Upgrade ActiveRecord
  db/migrate/20140501103532_create_lists.rb
  db/migrate/20140501112859_create_subscriptions.rb
  db/migrate/201508092100_add_language_to_lists.rb
  db/migrate/20150812165700_change_keywords_admin_only_defaults.rb
  db/migrate/20150813235800_add_forward_all_incoming_to_admins.rb
  db/migrate/201508141727_change_send_encrypted_only_default.rb
  db/migrate/201508222143_add_logfiles_to_keep_to_lists.rb
  db/migrate/201508261723_rename_delivery_disabled_to_delivery_enabled_and_change_default.rb
  db/migrate/201508261815_strip_gpg_passphrase.rb
  db/migrate/201508261827_remove_default_mime.rb
  db/migrate/20160501172700_fix_headers_to_meta_defaults.rb
  db/migrate/20170713215059_add_internal_footer_to_list.rb
  db/migrate/20180110203100_add_sig_enc_to_headers_to_meta_defaults.rb
  db/schema.rb
  schleuder.gemspec
  spec/migrations/add_sig_enc_to_headers_to_meta_defaults_spec.rb
Due: schema-up-to-date

Drop deprecated x-listname keyword
  CHANGELOG.md
  lib/schleuder/keyword_handlers_runner.rb
  spec/schleuder/integration/keywords_spec.rb
Due: spec-filenames

Drop pin_keys (originally introduced to support v2 to v3 migration)
  CHANGELOG.md
  lib/schleuder/cli.rb
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/integration/cli_spec.rb
Due: spec-filenames

conf: fix keyword handlers directory path
  lib/schleuder/conf.rb
Due: none

Fix now mandatory method arg in gpgme_ctx_spec
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

specs: drop conditionals to check for GPG >= 2.1
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

install: create keyword handlers dir
  lib/schleuder/cli.rb
Due: none

specs: ensure that all specs are executed
  spec/schleuder/integration/receive_bounce_spec.rb
  spec/schleuder/unit/gpgme_ctx_spec.rb
  spec/schleuder/unit/gpgme_key_spec.rb
Due: spec-filenames

Provide systemd configs for weekly key maintenance
  CHANGELOG.md
  etc/schleuder-weekly-key-maintenance.service
  etc/schleuder-weekly-key-maintenance.timer
  etc/schleuder.yml
  lib/schleuder/cli.rb
Due: none

specs: drop dirmngr pid checks in gpgme contexts
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

specs: fix expected results in gpgme contexts
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

install: tell how to migrate Schleuder v2 lists
  lib/schleuder/cli.rb
Due: none

ISSUE-267 emailaddress has only downcased letters
  CHANGELOG.md
  lib/schleuder/subscription.rb
  spec/schleuder/unit/subscription_spec.rb
Due: spec-filenames

Rename oneline method of the key to summary
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/gpgme/key.rb
  lib/schleuder/keyword_handlers/key_management.rb
  lib/schleuder/list.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/gpgme_key_spec.rb
Due: spec-filenames

gemspec: require Ruby 2.5.0 (and add CHANGELOG note)
  CHANGELOG.md
Due: none

Fix typo in Postfix' SQLite config
  etc/postfix/schleuder_sqlite.cf
Due: none

gemspec: Update summary as per the website
  schleuder.gemspec
Due: none

spec: attach-list-key-thunderbird.eml: use x-list-name and x-stop
  spec/fixtures/mails/attach-list-key-thunderbird.eml
Due: none

Use rspec output for integration/cli_spec
  spec/schleuder/integration/cli_spec.rb
Due: spec-filenames

Update sqlite-bindings to ruby3.0-compatible version.
  schleuder.gemspec
Due: none

Consider a blank line the separator between keywords and content.
  CHANGELOG.md
  lib/schleuder/keyword_handlers_runner.rb
  lib/schleuder/mail/message.rb
  locales/de.yml
  locales/en.yml
  spec/fixtures/mails/attach-list-key-thunderbird.eml
  spec/fixtures/mails/protected-headers-request.eml
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames

Update rubocop to v1, regenerate TODO-config.
  .rubocop_todo.yml
  schleuder.gemspec
Due: none

gemspec: Drop obsolete signing options
  schleuder.gemspec
Due: none

Upgrade activerecord and factory_bot to 6.x
  db/schema.rb
  schleuder.gemspec
Due: schema-up-to-date

specs: Move Mutt protected headers fixture mail to correct place
  spec/fixtures/mails/mutt_protected_headers.txt
  spec/schleuder/integration/protected_headers_spec.rb
Due: spec-filenames

Changelog info on changes for ruby-3.0
  CHANGELOG.md
Due: none

Update database_cleaner to v2.0 for ruby3.0
  schleuder.gemspec
Due: none

Work without tempfile.
  spec/spec_helper.rb
Due: none

Remove migration specs.
  spec/migrations/add_sig_enc_to_headers_to_meta_defaults_spec.rb
Due: none

Fix syntax for ruby 3.0.
  lib/schleuder/errors/base.rb
  lib/schleuder/errors/decryption_failed.rb
  lib/schleuder/errors/key_adduid_failed.rb
  lib/schleuder/errors/key_generation_failed.rb
  lib/schleuder/errors/message_empty.rb
  lib/schleuder/errors/message_too_big.rb
  lib/schleuder/errors/too_many_keys.rb
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/list.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/integration/filters_spec.rb
  spec/spec_helper.rb
Due: spec-filenames

this gem got renamed https://github.com/codahale/bcrypt-ruby/pull/86
  schleuder.gemspec
Due: none

Fix spec with different output of gpg 2.2
  spec/schleuder/unit/gpgme_ctx_spec.rb
Due: spec-filenames

CI: drop testing with ruby 2.3, 2.4
  .gitlab-ci.yml
Due: none

Copy rubocop-config from release-4.0
  .rubocop.yml
  .rubocop_todo.yml
Due: none

Silence the cop: Layout/SpaceAfterComma
  lib/schleuder/cli.rb
  lib/schleuder/cli/schleuder_cert_manager.rb
  lib/schleuder/filters_runner.rb
  lib/schleuder/list.rb
  lib/schleuder/runner.rb
  spec/fixtures/filters_without_pre/post_decryption/05_post_example.rb
  spec/schleuder/integration/cli_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/integration/receive_different_charsets_spec.rb
  spec/schleuder/runner_spec.rb
  spec/schleuder/unit/filters_runner_spec.rb
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames
