Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/*

more specs fixed for new kwh
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
Due: spec-filenames

Upgrade active record
  db/schema.rb
  schleuder.gemspec
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames, schema-up-to-date

WIP: First attempt to fix one of the migration spec
  spec/migrations/add_sig_enc_to_headers_to_meta_defaults_spec.rb
Due: none

partially fix #483 - use proper email regexp
  lib/schleuder/conf.rb
  spec/schleuder/unit/subscription_spec.rb
Due: spec-filenames

fully fix #483 - format subscription emails
  lib/schleuder/subscription.rb
  spec/schleuder/unit/subscription_spec.rb
Due: spec-filenames

changelog entry for #483
  CHANGELOG.md
Due: none

don't check git objects
  .gitlab-ci.yml
Due: none

WIP
  CHANGELOG.md
  Gemfile
  lib/schleuder/keyword_extractor.rb
  lib/schleuder/keyword_handlers/_resending_mixin.rb
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/list_keys.rb
  lib/schleuder/keyword_handlers/list_subscriptions.rb
  lib/schleuder/keyword_handlers/resend.rb
  lib/schleuder/keyword_handlers/set_fingerprint.rb
  lib/schleuder/keyword_handlers/subscribe.rb
  lib/schleuder/keyword_handlers/unset_fingerprint.rb
  locales/de.yml
  locales/en.yml
  spec/fixtures/mails/protected-headers-request.eml
  spec/gnupg/private-keys-v1.d/3A013015E84C20C6A7A21C2CCF508FB81C9F50C1.key
  spec/gnupg/random_seed
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/filters_spec.rb
  spec/schleuder/unit/keyword_extractor_spec.rb
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames

Update rubocop to v1, regenerate TODO-config.
  .rubocop_todo.yml
  schleuder.gemspec
Due: none

Add Getting started with development tutorial
  CONTRIBUTING.md
Due: none

fix #484 - add test cases for list emails
  CHANGELOG.md
  spec/schleuder/unit/list_builder_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Consider a blank line the separator between keywords and content.
  CHANGELOG.md
  lib/schleuder/keyword_handlers_runner.rb
  lib/schleuder/mail/message.rb
  locales/de.yml
  locales/en.yml
  spec/fixtures/mails/attach-list-key-thunderbird.eml
  spec/fixtures/mails/protected-headers-request.eml
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/integration/protected_headers_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames

Also consider GPGME::Error::Canceled as DecryptionFailed.
  lib/schleuder/runner.rb
Due: none

Note dependency on icu in README.
  README.md
Due: none

Revert "Add improved bounce detection using bounce_email"
  lib/schleuder.rb
  schleuder.gemspec
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add *.eml to codespell skipped files
  .gitlab-ci.yml
Due: none

Add improved bounce detection using bounce_email
  lib/schleuder.rb
  lib/schleuder/mail/message.rb
  schleuder.gemspec
Due: none

Fix misspelled words and add ignored words
  lib/schleuder/mail/message.rb
  utils/ci/codespell/ignored_words.txt
Due: none

Remove error code descriptions
  lib/schleuder/mail/message.rb
Due: none

Add tests and test emails for bounce detection
  spec/fixtures/mails/not_bounces/Bug_948980-_marked_as_pending_in_schleuder.eml
  spec/fixtures/mails/not_bounces/Bug_948981-_marked_as_pending_in_schleuder.eml
  spec/fixtures/mails/not_bounces/Bug_948982-_marked_as_pending_in_schleuder.eml
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames

Replace parameter mail with self in bounce detection
  lib/schleuder/mail/message.rb
Due: none

Include filename in bounce spec descriptions
  spec/schleuder/unit/message_spec.rb
Due: spec-filenames

Add vendored bounce detection from bounce_email
  lib/schleuder/mail/message.rb
Due: none

Merge 3.5.4 and 3.6.0 in CHANGELOG
  CHANGELOG.md
Due: none

Add unit tests for use_unencrypted_sender_addresses_in_header
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Fix munge typos
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames

Add option to use the sender's email in headers
  db/migrate/20200118170110_add_use_unencrypted_sender_addresses_in_header.rb
  db/schema.rb
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
  locales/de.yml
  locales/en.yml
Due: schema-up-to-date

Add set_reply_to_to_sender and munge_from to list-defaults.yml
  etc/list-defaults.yml
Due: none

Fix documentation for reply-to header
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
Due: none

Split option into set_reply_to_to_sender and munge_from
  db/migrate/20200118170110_add_set_reply_to_to_sender_and_munge_from.rb
  db/migrate/20200118170110_add_use_unencrypted_sender_addresses_in_header.rb
  db/schema.rb
  lib/schleuder/list.rb
  lib/schleuder/subscription.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames, schema-up-to-date

Update changelog
  CHANGELOG.md
Due: none

Upgrade activerecord and factory_bot to 6.x
  db/schema.rb
  schleuder.gemspec
Due: schema-up-to-date

Test with ruby 3.0
  .gitlab-ci.yml
Due: none

Update sqlite-bindings to ruby3.0-compatible version.
  schleuder.gemspec
Due: none

Fix syntax for ruby 3.0.
  lib/schleuder/errors/base.rb
  lib/schleuder/errors/decryption_failed.rb
  lib/schleuder/errors/key_adduid_failed.rb
  lib/schleuder/errors/key_generation_failed.rb
  lib/schleuder/errors/message_empty.rb
  lib/schleuder/errors/message_too_big.rb
  lib/schleuder/errors/too_many_keys.rb
  lib/schleuder/gpgme/ctx.rb
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
  lib/schleuder/list.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/integration/filters_spec.rb
  spec/spec_helper.rb
Due: spec-filenames

Work without tempfile.
  spec/spec_helper.rb
Due: none

Update database_cleaner to v2.0 for ruby3.0
  schleuder.gemspec
Due: none

Remove migration specs.
  spec/migrations/add_sig_enc_to_headers_to_meta_defaults_spec.rb
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: none
