Repository schleuder/schleuder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spec-filenames, schema-up-to-date

spec-filenames:
  script:
  - cd spec/
  - if [[ -n $(find schleuder schleuder-api-daemon -type f -not -name '*_spec.rb') ]]; then echo "spec file(s) found missing trailing '_spec' part, please verify manually"; exit 1; fi
  stage: static

schema-up-to-date:
  script:
  - ruby utils/ci/rails_schema_up_to_date.rb
  stage: static

Change wording to be more exact.
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Add a few more examples to the account spec.
  spec/schleuder/unit/account_spec.rb
Due: spec-filenames

Use subscription controller in put action
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Refactor spec to not reuse objects between examples
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Remove duplicate examples
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Fix method list policy method name
  lib/schleuder/authorizer_policies/subscription_policy.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Reference subscriptions by email only in subscription controller & API
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Fix associating subscription with account.
  lib/schleuder/subscription.rb
Due: none

Introduce controller layer
  lib/schleuder-api-daemon.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/unauthorized.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Keywords for account management (x-get-new-password).
  CHANGELOG.md
  lib/schleuder/keyword_handlers/account_management.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder/unit/keyword_handlers/account_management_spec.rb
Due: spec-filenames

Rename authorizing method in controllers.
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
Due: none

Remove unused methods from base controller
  lib/schleuder/controllers/base_controller.rb
Due: none

Use email as only list identifier in the API and controllers
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/list.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Fix name of variable, we do use email addresses as identifier there.
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/errors/key_not_found.rb
  lib/schleuder/errors/resource_not_found.rb
  lib/schleuder/errors/subscription_not_found.rb
Due: none

Let Authorizer raise the error, name the method appropriately.
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder/account.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/controllers/base_controller.rb
  spec/schleuder/unit/authorizer_spec.rb
Due: spec-filenames

Raise exception if list or resource is not present.
  lib/schleuder-api-daemon.rb
  lib/schleuder/authorizer.rb
  lib/schleuder/controllers/base_controller.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/key_not_found.rb
  lib/schleuder/errors/resource_not_found.rb
  lib/schleuder/errors/subscription_not_found.rb
  lib/schleuder/keyword_handlers_runner.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Respond with 404 if authorized but subscription not found
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

All Colors Are Beautiful (silence the cops).
  lib/schleuder/authorizer.rb
Due: none

Fix message for Errors::Unauthorized.
  lib/schleuder/authorizer.rb
  lib/schleuder/errors/unauthorized.rb
  locales/de.yml
  locales/en.yml
Due: none

Return nil, not Errors::Unauthorized if authorized but not found.
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Make SubscriptionsController.update return the updated subscription.
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

KeysController: Check that fingerprint is actually a fingerprint.
  lib/schleuder/controllers/keys_controller.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
Due: spec-filenames

Use list_email in uri instead of passing a query param
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/list.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Remove unneccessary if condition
  lib/schleuder-api-daemon/routes/subscription.rb
Due: none

Nest keys resource under /lists
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Fix API subscription-route patch and put to use SubscriptionsController#update correctly.
  lib/schleuder-api-daemon/routes/subscription.rb
Due: none

Nest subscriptions resource under /lists & pass list context to controller
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
Due: spec-filenames

Return created subscription if post request was successful
  lib/schleuder-api-daemon/routes/subscription.rb
  schleuder.gemspec
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/support/api/schemas/subscription.json
  spec/support/matchers/match_json_schema.rb
Due: spec-filenames

Remove unused methods from api daemon helper
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
Due: none

Remove keywords_admin_only.
  CHANGELOG.md
  db/migrate/20190220111200_remove_keywords_admin_only.rb
  db/schema.rb
  etc/list-defaults.yml
  lib/schleuder/errors/keyword_admin_only.rb
  lib/schleuder/list.rb
  spec/factories/lists.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/errors_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/list_spec.rb
Due: spec-filenames, schema-up-to-date

New: List#subscriber_permissions. To replace keywords_admin_only.
  CHANGELOG.md
  db/migrate/20190222014120_add_subscriber_permissions.rb
  db/schema.rb
  etc/list-defaults.yml
  lib/schleuder/authorizer_policies/base_policy.rb
  lib/schleuder/authorizer_policies/key_policy.rb
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/keyword_handlers/attach_list_key.rb
  lib/schleuder/keyword_handlers/resend.rb
  lib/schleuder/keyword_handlers_runner.rb
  lib/schleuder/list.rb
  spec/factories/lists.rb
  spec/schleuder-api-daemon/requests/list_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/authorizer_spec.rb
  spec/schleuder/unit/controllers/lists_controller_spec.rb
  spec/schleuder/unit/keys_policy_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
  spec/schleuder/unit/list_policy_spec.rb
  spec/schleuder/unit/list_spec.rb
  spec/schleuder/unit/subscription_policy_spec.rb
Due: spec-filenames, schema-up-to-date

Make keyword-handlers use controllers (or authorizer).
  CHANGELOG.md
  lib/schleuder/authorizer_policies/list_policy.rb
  lib/schleuder/controllers/keys_controller.rb
  lib/schleuder/controllers/lists_controller.rb
  lib/schleuder/controllers/subscriptions_controller.rb
  lib/schleuder/errors/last_admin_not_deletable.rb
  lib/schleuder/keyword_handlers/account_management.rb
  lib/schleuder/keyword_handlers/base.rb
  lib/schleuder/keyword_handlers/key_management.rb
  lib/schleuder/keyword_handlers/list_management.rb
  lib/schleuder/keyword_handlers/resend.rb
  lib/schleuder/keyword_handlers/subscription_management.rb
  lib/schleuder/keyword_handlers_runner.rb
  locales/de.yml
  locales/en.yml
  spec/schleuder-api-daemon/requests/subscription_spec.rb
  spec/schleuder/integration/keywords_spec.rb
  spec/schleuder/unit/controllers/keys_controller_spec.rb
  spec/schleuder/unit/controllers/subscriptions_controller_spec.rb
  spec/schleuder/unit/keyword_handlers/account_management_spec.rb
  spec/schleuder/unit/keyword_handlers/key_management_spec.rb
  spec/schleuder/unit/keyword_handlers_runner_spec.rb
Due: spec-filenames

Add subscription email to list keys and get key response
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/key.rb
  spec/schleuder-api-daemon/requests/keys_spec.rb
Due: spec-filenames

Re-define associations between Account, Subscription, and List.
  lib/schleuder/account.rb
  lib/schleuder/subscription.rb
Due: none

Migrate data of list.keywords_admin_only to list.subscriber_permissions
  db/migrate/20190220111200_remove_keywords_admin_only.rb
  db/migrate/20190222014121_remove_keywords_admin_only.rb
  spec/migrations/remove_keywords_admin_only_spec.rb
Due: schema-up-to-date

Rename oneline method of the key to summary
  lib/schleuder-api-daemon/routes/key.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  lib/schleuder/keyword_handlers/key_management.rb
Due: none

Return key summary as part of get subscription response
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Scope subscriptions by the list that is requested.
  lib/schleuder/authorizer_policies/subscription_policy.rb
  lib/schleuder/controllers/subscriptions_controller.rb
Due: none

Wrap all specs related to get request in context block
  spec/schleuder-api-daemon/requests/list_spec.rb
Due: spec-filenames

Use error in singular as json error root node
  lib/schleuder-api-daemon/helpers/schleuder-api-daemon-helper.rb
  lib/schleuder-api-daemon/routes/subscription.rb
  spec/schleuder-api-daemon/requests/subscription_spec.rb
Due: spec-filenames

Path conditions:
  spec-filenames: any of: spec/schleuder/**/*, spec/schleuder-api-daemon/**/*
  schema-up-to-date: any of: db/**/*
